{% stories hardcoded_demo with { title: 'Components/Examples/Hardcoded' } %}

    {% story simple_html with {
        name: '1. Simple HTML',
    } %}
        {# Write any Twig for the "default" story. The `args` above will be made #}
        {# available as variables for the template 👇 #}

        <h1>Hello world</h1>
    {% endstory %}

{% endstories %}